body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 1rem;
  width: 600px;
  height: 700px;
}

h1 {
  text-align: center;
  margin-top: 0;
}

p {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.task-list {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 75%;
  text-align: center;
}

.task-list h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#task-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
}
li{
  list-style-position: 1;
}
.pomodoro-timer {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 45%;
  text-align: center;
}

.timer {
  margin-top: 20px;
}

#timer-display {
  font-size: 36px;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #005f8d;
}
#task-estimate {
  margin: 10px 0;
  padding: 10px;
}
#task-description{
  margin: 10px 0;
  padding: 10px;
}
#task-name{
  margin: 10px 0;
  padding: 10px;
}
#add-task-button{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
#start-button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
#timer-display{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid;
  font-size: 20px;
}