body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 1rem;
    width: 500px;
    height: 500px;
  }

h1 {
    text-align: center;
    margin-top: 0;
  }

p {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    margin-top: 2rem;
    border: 1px solid;
  }
.container{
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    margin-top: 2rem;
    border: 1px solid;
}
#push {
    background-color: #6583e5;
    border: none;
    color: white;
    padding: 13px;
    text-align: center;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }
#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 80%;
    height: 15px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtask input:focus{
    outline: none;
    border-color: #000000;
}
#tasks{
    border-radius: 5px;
    width: 80%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 40px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}